h1{
   text-align: center;
   font-style: oblique;
   font-family: 'RedkostComicRegular';
   font-weight: normal;
   font-style: normal;
}
table{
  margin: auto;
}
#one{
  background-color: #264653;
  border: 6px solid white;
  height: 300px;
  width: 150px;
}
#two{
  background-color: #2A9D8F;
  border: 6px solid white;
  height: 300px;
  width: 150px;
}
#three{
  background-color: #E9C46A;
  border: 6px solid white;
  height: 300px;
  width: 150px;
}
#four{
  background-color: #F4A261;
  border: 6px solid white;
  height: 300px;
  width: 150px;
}
#five{
  background-color: #E76F51;
  border: 6px solid white;
  height: 300px;
  width: 150px;
}
.player{
  text-align: center;
  height: 100px;
  width: 500px;
  margin-left: 0;
}
#firstRow{
  heigt: 200px;
  width: 200px;
}
