<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>USER INFORMATION</title>
  </head>
  <body>
    <h1>Here are your users: </h1>
    <div>
      {% if users_info %}
        <ol>
          {% for user in users_info %}
            <li>User Info
              <ul>
                <li>First Name: {{ user.first_name }}</li>
                <li>Last Name: {{ user.last_name }}</li>
                <li>Email: {{ user.email }}</li>
              </ul>
            </li>
          {% endfor %}
        </ol>
      {% else %}
        <p>NO USER INFORMATION FOUND!</p>

      {% endif %}
    </div>
  </body>
</html>
